header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header span.span {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h2 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.1;
    background: linear-gradient(155deg, #00081D, #00081D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h2 span {
    font-weight: 700;
    background: linear-gradient(155deg, #00081D, #2E7BE3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
    color: #00160c;
    font-size: 1.6rem;
    margin-top: 1rem;
}

header p span {
    color: #002514;
    font-weight: 600;
}

@media (min-width: 1080px) {
    header h2 {
        font-size: 4rem;
        margin-top: 1.5rem;
    }

    header p {
        font-size: 1.6rem;
    }

    header span.span {
        font-size: 1.4rem;
        letter-spacing: 12px;
    }
}