#navigation {
    position: fixed;
    z-index: 20;
    bottom: 2rem;
    width: 94%;
    left: 50%;
    transform: translate(-50%, 0);

    padding-block: 1.5rem;
    border-radius: 2rem;

    background: var(--bg-blue);

    animation: nav 10s ease-in-out backwards;
}

#navigation .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navigation img.logo {
    width: 13rem;
}

#navigation a {
    width: initial;
}

#navigation a button {
    font-size: 1.2rem;
    background: #25d366;
}

#navigation a button:hover {
}

@media (min-width: 1080px) {
    nav#navigation {
        width: 27%;
        left: initial;
        right: 2%;
        transform: translate(0, 0);   
        transform: initial;
        padding-block: 2rem;
        bottom: initial;
        top: 3rem;

        animation: navDesktop 8s ease-in-out backwards;
    }

    nav#navigation img.logo {
        width: 13rem;
    }

    nav#navigation a button {
        font-size: 1.4rem;
        padding: 1.5rem 2rem;
    }
}

@keyframes nav {
    0% {
        display: none;
        transform: translate(-50%, 2550%);
    }

    50% {
        display: inherit;
        transform: translate(-50%, 2550%);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

@keyframes navDesktop {
    0% {
        display: none;
        transform: translate(0, -500%);
    }

    50% {
        display: inherit;
        transform: translate(0, -500%);
    }

    100% {
        transform: translate(0, 0);
    }
}